html, body {
   height: 100%;
}

body {
   max-width: 1500px;
   margin: 0px auto;
}

#exercise-1 {
   height: 100%;
}

.first-block {
   height: 18.75%;
   width: 100%;
}

.second-block {
   height: 66.25%;
   width: 25%;
   background-color: skyblue;
   float: left;
   display: grid;
   overflow: auto;
}

.third-block {
   height: 66.25%;
   width: 75%;
   float: right;
}

.fourth-block {
   height: 15%;
   width: 100%;
   background-color: yellow;
   clear: both;
   overflow: auto;
}

.img-block {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.text {
   color: black;
   font-size: 1.21rem;
   line-height: 20px;
}

.text-second-block {
   margin: auto;
   white-space: nowrap;
}

.text-fourth-block {
   margin-left: 1%;
   margin-top: 0.7%;
   margin-bottom: 0;
   margin-right: 0;
}

#top-margin {
   transform: translate(0px, 4px);
}

#bottom-margin {
   transform: translate(0px, -4px);
}

@media screen and (max-width: 765px) {
   .text {
      font-size: calc(100% + 0.008*((100vw - 765px)));
      line-height: calc(20px - 0.008*((100vw - 765px)));
   }
}

@media screen and (max-height: 882px) {
   .text {
      font-size: calc(100% + 0.0001*((100vh - 882px)));
      line-height: calc(18px + 0.02*((100vh - 882px)));
   }
}